@model WebGiuaKiConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>@Model.TenSP</h1>
<img src="@Model.HinhAnh"/>

<h5 >Mô tả: @Model.MoTa</h5>
<h5>Xuất xứ: @Model.XuatXu</h5>
<h5>Giá: @Model.Gia</h5>
<h5>Số lượng tồn: @Model.SoLuongTon</h5>
<h5>Ngày Nhập: @Model.NgayNhap</h5>
<h5>Màn hình: @Model.ManHinh</h5>
<h5>Ram: @Model.Ram</h5>
<h5>Camera: @Model.CaMeRa</h5>
 <div class="image-more">
    <ul class="row">
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh1"></a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh2"></a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh3"></a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh4"></a>
        </li>
    </ul>
</div>


