@model WebGiuaKiConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>@Model.TenSP</h2>
<img src="@Model.HinhAnh" />.
<h4>Mô tả: @Model.MoTa</h4>
<h4>Xuất xứ: @Model.XuatXu</h4>
<h4>Giá: @Model.Gia</h4>
<h4>Số lượng tồn: @Model.SoLuongTon</h4>
<h4>Màn hình: @Model.ManHinh</h4>
<h4>Ram: @Model.Ram</h4>
<h4>Camera: @Model.CaMeRa</h4>
<div class="image-more">
    <ul class="row">
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh1"></a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh2"></a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh3"></a>
        </li>
        <li class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#"><img class="img-responsive" src="@Model.HinhAnh4"></a>
        </li>
    </ul>
</div>
